<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`, {page: `edit method`}) %>

    <form method="post" action="/methods/<%= method.id %>/edit">

      <div class="form-group">
        <label for="name">Method</label>
        <input class="form-control" type="text" name="name" id="method" placeholder="Ex: .map()" value=<%= method.name %>>
      </div>

      <div class="form-group">
        <label for="language">Language</label>
        <input class="form-control" type="text" name="language" id="language" placeholder="Ex: JavaScript, jQuery, ECMAScript 6" value=<%= method.language %>>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" cols="80" name="description" id="description" placeholder="Add description here..." ><%= method.description %></textarea>
      </div>

      <div class="form-group">
        <label for="version_added">Version</label>
        <input class="form-control" type="text" name="version_added" id="version_added" placeholder="Ex: ECMAScript 2016" value=<%= method.version_added %>>
      </div>

      <div class="form-group">
        <label for="docs_url">Docs</label>
        <input class="form-control" type="url" name="docs_url" id="docs_url" placeholder="Ex: https://developer.mozilla.org/..." value=<%= method.docs_url %>>
      </div>

      <input class="btn" type="submit">
    </form>
    <form method="POST" action="/methods/<%= method.id %>/delete">
      <button class="btn btn-danger"  type="submit" name="destroyMethod">
        Delete
      </button>
    </form>
  </body>
</html>
