<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`, {page: `new exercise`}) %>

    <form method="post" action="/exercises/new">
    <br><br>
      <div class="form-group">
        <label for="name">Exercise Name:</label>
        <input class="form-control" type="text" name="name" id="exercise" placeholder="Exercise name">
      </div><br>

      <div class="form-group">
        <label for="method">Method:</label>
        <select class="form-control" name="method">
          <% methods.forEach(function(method) { %>
            <option value=<%= method.id %>>
              <%= method.name %>
            </option>
          <% }) %>
        </select>
      </div><br>

      <div class="form-group">
        <label for="language">Difficulty:</label>
        <input class="form-control" type="number" min="1" max="8" name="difficulty" id="difficulty" placeholder="Between 1 and 8">
      </div><br>

      <div class="form-group">
        <label for="description">Prompt:</label>
        <textarea class="form-control" name="prompt" rows="3" cols="80" id="prompt" placeholder="Add description here..." ></textarea>
      </div><br>

      <div class="form-group" id='test'>
        <label for="tests">Test 1:</label>
        <input class="form-control" type="text" name="tests[0][explanation]" id="test" placeholder="Ex: Reverse the string"><br>
        <label for="tests">Test 2:</label>
        <input class="form-control" type="text" name="tests[0].[invocation]" id="test" placeholder="Ex: test('Rob')"><br>
        <label for="tests">Test 3:</label>

        <input class="form-control" type="text" name="tests[0].[expectation]" id="test" placeholder="Ex: test('boR')">
      </div><br>

      <input class = "exercise-btn" type="button" value="Add another test" onClick="addInput('test')">

      <br>

      <input class="exercise-btn" type="submit">
    </form>


    <script src="/js/exercise_form.js"> </script>
  </body>
</html>
