<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
    <div id="dashboard-container">
        <!-- <h1>Dashboard</h1> -->
        <h1>Chef: <%= user.facebook.name || user.local.name %></h1>

        <% var completeCount = user.completed_exercises.length %>
        <% var today = new Date() %>

        <% if (completeCount && user.completed_exercises[completeCount-1].time_completed.toDateString() === today.toDateString()) { %>
	        <p>Done for the day!</p>
        <% } else { %>
	        <a href="/exercises"><h2>Do today's exercise.</h2></a>
        <% } %>

          <a href="/methods"><h2>Want more practice?</h2></a>

        <h2>Completed Exercises</h2>
        <ul id="completed-exercises">
        <% if (completeCount) {%>
            <% for (var i = 0; i < completeCount; i++){ %>
            	<li><strong> <%= completed_exercises[i].exercise.name %></strong> - 
                <%= (user.completed_exercises[i].time_completed.getTime() - user.completed_exercises[i].time_started.getTime()) * 0.001 %> seconds
                </li>
            <% } %>
        <% } else { %>
        	<li>No completed exercises.</li>
        <% } %>
        </ul>
    </div>

<% if (user.local && user.local.isAdmin) { %>
  <a href="/methods/new" class="btn btn-default">New Method</a>
  <a href="/exercises/new" class="btn btn-default">New Exercise</a>
<% } %>


  </body>
</html>
