<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`, {page: `edit profile`}) %>

    <form method="post" action="/profile/edit">

      <div class="form-group">
        <label for="title">Title</label>
        <select name="title" id="title" class="form-control">
          <option selected="selected">Chef</option>
          <option>Smith</option>
          <option>Warrior</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" value="<%= user.local.name || user.facebook.name %>">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" value=<%= user.local.email || user.facebook.email %>>
      </div>

      <!-- <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" value=<%= user.local.password || user.facebook.password %>>
      </div> -->

      <input class="btn" type="submit">
    </form>

    <form method="POST" action="/profile/delete">
      <button class="btn btn-danger"  type="submit" name="destroyUser">
        Delete
      </button>
    </form>


  </body>
</html>
