<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
<div class="exercises container">
    <div>
        <div id="prompt">
          <h1><%= exercise.name %></h1>
            <% if (user.local && user.local.isAdmin) { %>
              <a href="/exercises/<%= exercise.id %>/edit" class="exercise-btn">edit exercise</a>
            <% } %>
          <p><%= exercise.prompt %></p>
        </div>
        <textarea id="input">function <%= exercise.name %>(str){

}</textarea>
        <div id="output"><p></p></div>
        <button class="exercise-btn" id="run">run</button>
        <button class="exercise-btn" id="run-tests">run tests</button>
        <button disabled="true" id="submit" class="exercise-btn" data="<%= exercise.id %>">
        submit
        </button>

        <table id="tests" class="">
          <tr>
            <th>Invoke</th>
            <th>Expect</th>
            <th>Result</th>
          </tr>
        <% exercise.tests.forEach(function(test){ %>
          <tr class="test">
            <td class="invocation"><%= test.invocation %></td>
            <td class="expectation"><%= test.expectation %></td>
            <td class="result">...</td>
          </tr>
        <% }) %>
        </table>

    </div>
    <%- include(`../partials/scripts`) %>
    <script src="/js/exercises.js"></script>
  </body>
</html>
