<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>
<div class="exercises container">
    <div>
        <div id="prompt">
          <h1><%= exercise.name %></h1>
          <p><%= exercise.prompt %></p>
        </div>
        <textarea id="input">function <%= exercise.name %>(str){
  
}</textarea>
        <div id="output"><p></p></div>
        <br>
        <button id="run">run</button>
        <button disabled="true" id="submit">submit</button>

        <table>
          <tr>
            <th></th>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
        <% exercise.tests.forEach(function(test){ %>
        <ul>
          <li><%= test.explanation %></li>
        <% }) %>
        </ul>

    </div>
    <%- include(`../partials/scripts`) %>
  </body>
</html>
