<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>
  </head>
  <body>
    <%- include(`../partials/header`) %>

  <div class="profile-container">
      <h1> Here is the information and the exercises for <%= method.name %> </h1>

      <p>Language:
          <%= method.language %>
      </p>

      <p>Version:
          <%= method.version_added %>
      </p>

      <p>Description:
          <%= method.description %>
      </p>

      <p>More Documentation:
          <%= method.docs_url %>
      </p>

      <br>

      <!-- Buttons to edit and delete -->
        <% if (user.local && user.local.isAdmin) { %>

      <a href="/methods/<%= method.slug_url %>/edit" class="exercise-btn">Edit method</a>

        <% } %>


      <div>
        <article>
          <ul>
            <% exercises.forEach(function(exercise) { %>
                <% if (exercise.method == method.id) { %>
              <a href="/exercises/<%= exercise.id %>" value=<%= exercise.id %>>
              <h2>  <%= exercise.name %> </h2>
              </a>
              <% } else { %>
                <% } %>
            <% }) %>
          </ul>
        </article>
      </div>


      </div>
  </body>
</html>
