<!DOCTYPE html>
<html>
  <head>
    <%- include(`../partials/head`) %>
    <%- include(`../partials/scripts`) %>

  </head>
  <body>
    <%- include(`../partials/header`) %>

    <h1>All of the methods you can practice!</h1>

    <div>
      <article>
        <ul>
          <% methods.forEach(function(method) { %>
            <a href="/methods/<%= method.slug_url %>" value="<%= method.slug_url %>" >
            <h2>  <%= method.name %> </h2>
            </a>
          <% }) %>
      </article>
    </div>



  </body>
</html>
