<!DOCTYPE html>
<html>

<head>
    <%- include(`../partials/head`)  %>
    <%- include(`../partials/scripts`) %>

</head>


<body>

    <%- include(`../partials/header`) %>

<div id="profile-container">
  
    <!-- User data pulled in -->
    <h2><%= user.facebook.email || user.local.email %></h2>

    <p>Title:
        <%= user.local.title %>
    </p>

    <p>Name:
        <%= user.local.name %>
    </p>

    <p>Email:
        <%= user.facebook.email || user.local.email %>
    </p>

    <p>Password:
        <%= user.local.password %>
    </p><br>

    <!-- Buttons to edit and delete -->
    <a href="/user/<%= user._id %>" class="btn btn-default">Edit</a> or
    <a href="/user/<%= user._id %>/delete" id="delete-account" class="btn btn-danger">Delete Account</a>

    <script type="text/javascript">
        $('#delete-account').on('click', function(e) {
            if (!confirm("Are you sure you want to delete your user account?")) {
                e.preventDefault()
            }
        })
    </script>
  </div>
</body>

</html>
