<!DOCTYPE html>
<html>

<head>
  <% if (user)

    // Edit or Delete User info page
    <h1><%= user.facebook.email || user.local.email %></h1>
</head>

<body>
    // User data pulled in
    <h2>User information</h2>

    <p>Title:
        <%= user.local.title %>
    </p><br>

    <p>Name:
        <%= user.local.name %>
    </p><br>

    <p>Email:
        <%= user.facebook.email || user.local.email %>
    </p><br>

    <p>Password:
        <%= user.local.password %>
    </p><br>

    // Buttons to edit and delete
    <a href="/user/<%= user._id %>" class="btn btn-default">Edit</a>
    <a href="/user/<%= user._id %>/delete" id="delete-account" class="btn btn-danger">Delete Account</a>

    <script type="text/javascript">
        $('#delete-account').on('click', function(e) {
            if (!confirm("Are you sure you want to delete your user account?")) {
                e.preventDefault()
            }
        })
    </script>
</body>

</html>
