<!DOCTYPE html>
<html>

<head>
    <%- include(`../partials/head`)  %>
    <%- include(`../partials/scripts`) %>

</head>


<body>

    <%- include(`../partials/header`) %>

<div id="profile-container">

    <!-- User data pulled in -->
    <h2><%= user.facebook.name || user.local.name %></h2>

    <p>Title:
        <%= user.local.title %>
    </p>

    <p>Name:
        <%= user.local.name || user.facebook.name %>
    </p>

    <p>Email:
        <%= user.facebook.email || user.local.email %>
    </p>
    <br>

    <!-- Buttons to edit and delete -->
    <a class="exercise-btn" href="/profile/edit" class="btn btn-default">Edit</a>


  </div>
</body>

</html>
